/*
 * Copyright (c) 2020 Pete Johanson, Richard Jones
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix-transform.h>

/ {
	chosen {
		zmk,kscan = &kscan0;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";

		diode-direction = "col2row";
		col-gpios
			= <&gpio0 27 (GPIO_ACTIVE_HIGH)>
			, <&gpio0 26 (GPIO_ACTIVE_HIGH)>
			, <&gpio0 25 (GPIO_ACTIVE_HIGH)>
			;
		row-gpios
			= <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;
	};
};

